<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Jangan terapkan aturan jika file atau direktori benar-benar ada
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Arahkan semua rute lainnya ke index.html agar ditangani oleh React
  RewriteRule ^.*$ index.html [L]
</IfModule>